<h1 class="mt-4">DASHBOARD</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bienvenido Lucas U Ccacya Ayquipa! Este es el panel principal del sistema acá podrá encontrar atajos para acceder a los distintos listados de cada módulo del sistema.</li>
</ol>

<div class="row justify-content-center mt-5">
    <div class="col-xl-3 col-md-6">
        <div class="card text-white mb-4" style="background-color: #4CCAD6;">
            <div class="card-body text-center">
             <h1><i class="fa-sharp fa-solid fa-users"></i></h1>   
             <h2>(30) Clientes</h2>   
            </div>
           
            <div class="card-footer d-flex justify-content-center">
                <a class="small text-white stretched-link" href="#"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card  text-white mb-4"style="background-color: #D64C6B;">
            <div class="card-body text-center">
               <h1><i class="fa-sharp fa-solid fa-truck"></i> </h1> 
                <h2>(20) Proveedores</h2>   
            </div>
            <div class="card-footer d-flex justify-content-center">
                <a class="small text-white stretched-link" href="#"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card  text-white mb-4"style="background-color: #24BB98;">

            <div class="card-body text-center">
                <h1>  <i class="fa-sharp fa-solid fa-user"></i> </h1> 
                 <h2>(25) Usuarios</h2>   
             </div>

            <div class="card-footer d-flex justify-content-center">
                <a class="small text-white stretched-link" href="#"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card text-white mb-4"style="background-color: #246DBB;">
            
            <div class="card-body text-center">
                <h1> <i class="fa-sharp fa-solid fa-money-bill"></i></h1> 
                 <h2>(30) Ventas</h2>   
             </div>
         
            <div class="card-footer d-flex justify-content-center">
                <a class="small text-white stretched-link" href="#"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card text-white mb-4"style="background-color: #5D6D7E;">
            <div class="card-body text-center">
                <h1><i class="fa-sharp fa-solid fa-tag"></i></h1> 
                 <h2>(10) Categorias</h2>   
             </div>
            <div class="card-footer d-flex justify-content-center">
                <a class="small text-white stretched-link" href="#"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card text-white mb-4"style="background-color: #E8943A;">
            <div class="card-body text-center">
                <h1><i class="fa-sharp fa-solid fa-gears"></i></h1> 
                 <h2>(20) Productos</h2>   
             </div>
        
            <div class="card-footer d-flex justify-content-center">
                <a class="small text-white stretched-link" href="#"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>
</div>
