<h1 class="mt-4 fw-bold das">DASHBOARD</h1>
<ol class="breadcrumb mb-4">
    <p class="breadcrumb-item active  fs-5 text-black" >Bienvenido Lucas U Ccacya Ayquipa! Este es el panel principal del sistema acá podrá encontrar atajos para acceder a los distintos listados de cada módulo del sistema.</p>
</ol>

<div class="row justify-content-center mt-5">
    <div class="col-xl-3 col-md-6 ">
        <div class="card text-white mb-4 " style="background-color: #1ab5c1;">
            <div class="card-body text-center">
             <h1><i class="fa-sharp fa-solid fa-users"></i></h1>   
             <h2>({{totalClientes}}) Clientes</h2>   
            </div>
           
            <div class="card-footer d-flex justify-content-center ">
                <a class="small text-white stretched-link" routerLink="cliente"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card text-white mb-4" style="background-color: #D64C6B;">
            <div class="card-body text-center">
                <h1><i class="fa-sharp fa-solid fa-tag"></i></h1> 
                 <h2>({{totalCategorias}}) Categorias</h2>   
             </div>
            <div class="card-footer d-flex justify-content-center">
                <a class="small text-white stretched-link" routerLink="categoria"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card text-white mb-4"style="background-color:#24BB98;">
            <div class="card-body text-center">
                <h1><i class="fa-sharp fa-solid fa-boxes-stacked"></i></h1> 
                 <h2>({{totalProductos}}) Productos</h2>   
             </div>
        
            <div class="card-footer d-flex justify-content-center">
                <a class="small text-white stretched-link" routerLink="producto-list"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card text-white mb-4" style="background-color: #2461a1;">
            
            <div class="card-body text-center">
                <h1> <i class="fa-sharp fa-solid fa-money-bill"></i></h1> 
                 <h2> Ventas</h2>   
             </div>
         
            <div class="card-footer d-flex justify-content-center">
                <a class="small text-white stretched-link" href="#"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card  text-white mb-4" style="background-color: #5D6D7E;">
            <div class="card-body text-center">
               <h1><i class="fa-sharp fa-solid fa-truck"></i> </h1> 
                <h2>({{totalEmpleados}}) Proveedores</h2>   
            </div>
            <div class="card-footer d-flex justify-content-center">
                <a class="small text-white stretched-link" routerLink="empleado"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card  text-white mb-4 " style="background-color: #eb983f;">

            <div class="card-body text-center">
                <h1>  <i class="fa-sharp fa-solid fa-user"></i> </h1> 
                 <h2>({{totalUsuarios}}) Usuarios</h2>   
             </div>

            <div class="card-footer d-flex justify-content-center">
                <a class="small text-white stretched-link" routerLink="usuario"></a>
                <h5>ver detalles <i class="fas fa-angle-right"></i> </h5>
            </div>
        </div>
    </div>

</div>
