<nav class="sb-sidenav accordion sb-sidenav-dark " style="background: #17202A" id="sidenavAccordion">                
    <div class="sb-sidenav-menu">
        <div class="nav">
        <div style="text-align: center;margin-top: 15px">
            <img  *ngIf="userRole == 'ADMIN'" [src]="usuario.fireimagen || '/assets/images/admin.png'" class="rounded-circle profile-picture" style="width: 120px; height: 120px">
            <img *ngIf="userRole == 'USER'" [src]="usuario.fireimagen || '/assets/images/user.png'" class="rounded-circle profile-picture" style="width: 120px; height: 120px">
        </div>                        
           <div class=" text-center mt-4">
           <h5  style="color: white;">{{Username}}</h5>
           <p class="fw-bolder"  style="color: rgba(204, 199, 199, 0.903);">[{{userRole}}]</p>
        
           </div>
           
           <hr style="height: 4px">
             <a   class="nav-link" style="color: #D7DBDD" routerLink="/dashboard"  >
               <div class="sb-nav-link-icon"><i class="fas fa-solid fa-house icon"></i></div>
               Principal
           </a>
          <div *ngIf="userRole == 'ADMIN'">  
           <a  class="nav-link collapsed" style="color: #D7DBDD" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
               <div class="sb-nav-link-icon"><i class="fa-solid fa-screwdriver-wrench icon"></i></div>
               Mantenimiento
               <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
           </a>
           <div  class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
               <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link fw-bolder " routerLink="categoria" >Categorias</a>
                <a class="nav-link fw-bolder " routerLink="producto-list" >Productos</a>
                   <a class="nav-link fw-bolder "  routerLink="/dashboard/proveedor" >Proveedores</a>
                   <a class="nav-link fw-bolder " routerLink="usuario" >Usuarios</a>
                  
               </nav>
           </div>
           
            </div>
            <a routerLink="cliente" class="nav-link" style="color: #D7DBDD"  >
                <div class="sb-nav-link-icon"><i class="fa-sharp fa-solid fa-users icon"></i></div>
                Clientes
            </a>
            <a routerLink="/dashboard/venta"  class="nav-link" style="color: #D7DBDD"  >
                <div class="sb-nav-link-icon"><i class="fa-solid fa-hand-holding-dollar icon"></i></div>
                Realizar Venta
            </a>     
            <a routerLink="/dashboard/listar-ventas"  class="nav-link" style="color: #D7DBDD"  >
                <div class="sb-nav-link-icon"><i class="fas fa-solid fa-clipboard-list icon"></i></div>
                 Ventas Realizadas
            </a>
            <a routerLink="consulta"  class="nav-link" style="color: #D7DBDD"  >
                <div class="sb-nav-link-icon"><i class="fas fa-solid fa-clipboard-list icon"></i></div>
                Consultas
            </a>
          
       </div>
   </div>
   
   
   <div class="sb-sidenav-footer">
       <div class="small">Logged in as:</div>
       Start Bootstrap
   </div>
</nav>

